.achievements {
  padding: 90px 0;
  background-color: $color-contrast;
  color: $white;

  @media (max-width: $tablet - 1px) {
    padding: 60px 0;
  }
}

.achievements__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: $gap;
  grid-row-gap: $gap * 2;

  margin: 0;
  padding: 0;

  list-style-type: none;
  text-transform: uppercase;

  @media (max-width: $tablet - 1px) {
    grid-template-columns: 1fr;
  }
}

.achievements__item {
  padding-left: 70px;
  position: relative;

  @media (max-width: $tablet - 1px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $gap;
    grid-row-gap: $gap / 2;
    justify-items: center;
    align-items: center;

    margin: 0;
    padding: 0;
    //padding-top: 50px;

    text-align: center;
  }

  &::before {
    position: absolute;
    content: "";

    top: 0;
    left: 0;
    width: 40px;
    height: 40px;

    background-repeat: no-repeat;

    @media (max-width: $tablet - 1px) {
      position: static;
      justify-self: end;
      margin-left: auto;
    }
  }

  &--projects {
    &::before {
      background-image: url("../img/achievements/portfolio.svg");
      background-size: 100%;
    }
  }

  &--hours {
    &::before {
      background-image: url("../img/achievements/clock.svg");
      background-size: 100%;
    }
  }

  &--feedbacks {
    &::before {
      background-image: url("../img/achievements/star.svg");
      background-size: 100%;
    }
  }

  &--clients {
    &::before {
      background-image: url("../img/achievements/like.svg");
      background-size: 100%;
    }
  }
}

.achievements__amount {
  margin: 0;
  margin-bottom: 10px;

  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;

  @media (max-width: $tablet - 1px) {
    margin: 0;
    justify-self: start;
  }
}

.achievements__title {
  margin: 0;

  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;

  @media (min-width: $tablet) and (max-width: $desktop) {
    word-spacing: 50px;
  }

  @media (max-width: $tablet - 1px) {
    grid-column: 1/3;
  }
}
