// .desc {}

.desc_wrapper {
  display: grid;
  justify-items: center;
  padding: 77px 0 95px;

  text-align: center;

  @media (max-width: $tablet - 1px) {
    padding: 60px 0;
  }
}

.desc__title {
  margin: 0 auto;

  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 600;
  font-size: 38px;
  line-height: 84px;
  color: $text-black;

  @media (max-width: $tablet - 1px) {
    margin: 0;

    font-size: 28px;
    line-height: 28px;
  }
}

.desc__text {
  margin: 0 20%;

  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: $text-grey;

  @media (min-width: $tablet) and (max-width: $desktop) {
    margin: 0 15%;
  }

  @media (max-width: $tablet - 1px) {
    margin: 0;
    margin-top: 20px;

    font-size: 16px;
    line-height: 22px;
  }
}
