.main-footer {
  padding: 90px 0;

  background-color: $bg-black;
  color: $text-lightgrey;

  // font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.main-footer__wrapper {
  display: grid;
  grid-template-columns: 4fr 3fr 3fr 2fr;
  grid-gap: $gap;

  @media (min-width: $tablet) and (max-width: $desktop) {
    grid-template-columns: 3fr 2fr 2fr 1fr;
  }
}

// .main-footer__copyright {}

.main-footer__contacts {
  padding-left: 70px;

  @media (min-width: $tablet) and (max-width: $desktop) {
    padding-left: 0;
  }
}

.main-footer__nav {
  padding-left: 70px;

  @media (min-width: $tablet) and (max-width: $desktop) {
    padding-left: 0;
  }
}

.main-footer__social {
  padding-left: 70px;

  @media (min-width: $tablet) and (max-width: $desktop) {
    padding-left: 30px;
  }
}
