.work {
  display: grid;
  grid-template-columns: 1fr 1fr;

  padding-top: 100px;
  padding-bottom: 100px;

  background-color: $bg-white;
}

.work__wrapper {
  margin-right: 148px;
}

.work__title {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 600;
  font-size: 38px;
  line-height: 48px;

  margin-bottom: 30px;
}

.work__desc {
  margin-bottom: 60px;
}

.work__text {
  margin: 0;
  margin-bottom: 35px;

  font-size: 16px;
  line-height: 24px;
  color: $text-grey;
}

.work__info {
  padding: 0;
  padding-right: 5px;

  font-size: 16px;
  line-height: 30px;
  color: $text-grey;
}

.work__info span {
  color: $text-black;
  font-weight: 600;
}

.work_img {
  display: none;
}
