@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.ttf") format("ttf");
  font-weight: normal; }

@font-face {
  font-family: "Nunito Sans";
  font-display: swap;
  src: url("../fonts/NunitoSans-Regular.ttf") format("ttf");
  font-weight: normal; }

@font-face {
  font-family: "Nunito Sans";
  font-display: swap;
  src: url("../fonts/NunitoSans-Regular.ttf") format("ttf");
  font-weight: bold; }

body {
  margin: 0 auto;
  font-family: "Nunito Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #787878;
  background: #f6f6f6; }

a {
  text-decoration: none; }

img {
  width: 100%;
  height: auto; }

.no-js {
  display: none; }

.main-header {
  width: 100%;
  margin: 0 auto;
  padding-top: 38px;
  padding-bottom: 29px;
  background: #ffffff; }

.main-nav {
  display: grid;
  grid-template-columns: 31px auto;
  grid-column-gap: 30px;
  max-width: 1170px;
  margin: 0 auto; }

.logo-header__img {
  width: 31px;
  height: 25px; }

.main-nav__list {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 30px;
  justify-items: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  margin-left: auto;
  padding: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  color: #787878;
  list-style-type: none;
  text-transform: uppercase; }

.main-nav__link {
  color: inherit; }
  .main-nav__link:hover {
    color: #10c9c3; }
