@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.ttf") format("ttf");
  // src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Nunito Sans";
  font-display: swap;
  src: url("../fonts/NunitoSans-Regular.ttf") format("ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Nunito Sans";
  font-display: swap;
  src: url("../fonts/NunitoSans-Regular.ttf") format("ttf");
  font-weight: bold;
}
