body {
  margin: 0 auto;

  font-family: "Nunito Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;

  background-color: $bg-white;
  color: $text-black;

  @media (max-width: $tablet - 1px) {
    font-size: 16px;
    line-height: 22px;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.no-js {
  display: none;
}
