body {
  margin: 0 auto;

  font-family: "Nunito Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;

  background-color: $bg-white;
  color: $text-black;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
}

.no-js {
  display: none;
}
