$bg-white: #f6f6f6;
$bg-black: #141414;

$text-lightgrey : #bcbcbc;
$text-grey: #787878;
$text-darkgrey: #191919;
$text-black: #171717;

$white: #ffffff;
$color-contrast: #10c9c3;

$tablet: 768px;
$desktop: 1024px;
$desktop-full: 1365px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$gap: 30px;
